<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <!--通过这样的方式可以一开始给div加点属性或类什么的-->
    <div class="form-group ${user.country=='china'?'':'hidden'}">
        <label class="col-sm-2 control-label"><span style="color: red">*</span>性别：</label>
        <div class="col-sm-3">
            <label class="radio-inline">
                <!--radio回显，后台传过来的是整形，那么这里不能写成 ${user.sex=='1'?'checked':''}-->
                <input name="sex" type="radio" value="1" ${user.sex==1?'checked':''} />男
            </label>
            <label class="radio-inline">
                <input name="sex" type="radio" value="0" ${user.sex==0?'checked':''} />女
            </label>
        </div>
        <label for="degree" class="col-sm-2 control-label">文化程度：</label>
        <div class="col-sm-3">
            <!--下拉框回显，这里也是区分整数和字符串的}-->
            <select id="degree" name="degree">
                <option value="">-请选择-</option>
                <option value="1" ${user.degree==1?'selected':''}>博士</option>
                <option value="2" ${user.degree==2?'selected':''}>研究生</option>
                <option value="3" ${user.degree==3?'selected':''}>本科</option>
                <option value="4" ${user.degree==4?'selected':''}>专科</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="birth" class="col-sm-2 control-label">出生日期：</label>
        <div class="col-sm-3">
            <!--日期回显时格式化-->
            <input id="birth" value="${user.birth,'yyyy-MM-dd'}" name="birth" class="form-control"
                   type="text">
        </div>
    </div>
</div>

</body>
</html>